---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero-pic.png";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[135px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <h1>Navigating the digital landscape for success</h1>
    </div>
    <picture class="row-span-1 md:row-span-3">
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </picture>
    <div class="w-full lg:w-[66.5%]">
      <p class="my-[35px]">
        Our digital marketing agency helps businesses grow and succeed online
        through a range of services including SEO, PPC, social media marketing,
        and content creation.
      </p>
      <button class="btn-primary w-full md:w-auto">Book a consultation</button>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>
