---
import { Image } from "astro:assets";
import s1 from "../../assets/pics/company-logo1.svg";
import s2 from "../../assets/pics/company-logo2.svg";
import s3 from "../../assets/pics/company-logo3.svg";
import s4 from "../../assets/pics/company-logo4.svg";
import s5 from "../../assets/pics/company-logo5.svg";
import s6 from "../../assets/pics/company-logo6.svg";
import Section from "./Section.astro";

const sponsors = [
  { logo: s1, alt: "Amazon logo" },
  { logo: s2, alt: "Dribble logo" },
  { logo: s3, alt: "HubSpot logo" },
  { logo: s4, alt: "Notion logo" },
  { logo: s5, alt: "Netflix logo" },
  { logo: s6, alt: "Zoom logo" },
];
---

<Section id="sponsors">
  <div class="flex flex-wrap justify-between gap-7 mt-[60px]">
    {
      sponsors.map((sponsor) => {
        return (
          <div>
            <Image src={sponsor.logo} alt={sponsor.alt} loading="eager" />
          </div>
        );
      })
    }
  </div>
</Section>
