---
import Section from "../components/sections/Section.astro";
import Accordion from "../components/ui/Accordion.astro";
import SwiperSlider from "../components/ui/SwiperSlider.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/globals.css";
---

<MainLayout
  title="Kreatif Software"
  description="Kreatif ofrece servicios de diseño y desarrollo de software"
>
  <section id="home" class="bg-green h-[1500px]"></section>
  <Section id="about">
    <Accordion />
    <button class="btn-tertiary"> Primary Button </button>
    <SwiperSlider />
  </Section>
</MainLayout>
