---
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import MainHead from "./MainHead.astro";

const { ...props } = Astro.props;
---

<html lang="en">
  <MainHead {...props} />
  <style>
    html.lenis,
    html.lenis body {
      height: auto;
    }

    .lenis.lenis-smooth {
      scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
      overflow: hidden;
    }

    .lenis.lenis-smooth iframe {
      pointer-events: none;
    }
  </style>
  <script src="../utils/lenis"></script>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
