---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-pic.png";
---

<div
  class="flex relative justify-start items-center p-[60px] bg-[#F3F3F3] rounded-[45px] overflow-hidden"
>
  <form class="bg-white sm:p-6 h-full w-full lg:max-w-lg">
    <div class="flex flex-col sm:flex-row mb-4 gap-4">
      <div class="flex items-center gap-10">
        <label for="checkbox1" class="block text-black mb-2">Checkbox 1</label>
        <input
          type="checkbox"
          id="checkbox1"
          name="checkbox1"
          class="form-checkbox text-black"
        />
      </div>
      <div class="flex items-center gap-10">
        <label for="checkbox2" class="block text-black mb-2">Checkbox 2</label>
        <input
          type="checkbox"
          id="checkbox2"
          name="checkbox2"
          class="form-checkbox text-black"
        />
      </div>
    </div>
    <div class="mb-4">
      <label for="name" class="block text-black mb-2">Name*</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        class="w-full px-[30px] py-[18px] border border-black rounded-md text-black outline-none"
      />
    </div>

    <div class="mb-4">
      <label for="email" class="block text-black mb-2">Email*</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        class="w-full px-[30px] py-[18px] border border-black rounded-md text-black outline-none"
      />
    </div>

    <div class="mb-4">
      <label for="message" class="block text-black mb-2">Message*</label>
      <textarea
        id="message"
        name="message"
        placeholder="Message"
        class="w-full px-[30px] py-[18px] border border-black rounded-md text-black outline-none"
      ></textarea>
    </div>

    <button type="submit" name="submit" class="btn-primary w-full">Send</button>
  </form>
  <picture class="absolute right-[-25%] top-[2%] bottom-[2%] hidden lg:block">
    <Image src={decorForm} alt="decor" />
  </picture>
</div>
